.site-footer {
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-height: 50px;
  position: absolute;
  width: 100%;
}
.footer-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.column {
  height: 100;
  display: flex;
  align-items: center;
}
