.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: center;
  background-color: #023b6d;
}
.brand {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  transition: transform 0.2s;
  margin: 2px;
}

.brand:hover {
  color: white;
  background-color: #01284a;
  transform: scale(1.1);
}
ul {
  list-style: none;
  max-height: 100%;
  margin: 0px;
  display: flex;
  text-align: center;
}
.box {
  width: 100%;
  margin-right: 10px;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 20px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.items {
  color: white;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  transition: transform 0.2s; /* Animation */
}
.items:hover {
  color: white;
  background-color: #01284a;
  transform: scale(1.1);
}

.header .search-bar {
  display: flex;
  justify-self: space-around;
  align-items: center;
}

.sell-book {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 15px;
  color: white;
  background-color: rgb(156, 2, 2);
  font-weight: bold;
  border-radius: 0px;
  margin: 0 auto;
}
.sell-book:hover {
  color: cyan;
}

.btn-danger {
  font-weight: bold;

  margin: 0 auto;
}

.btn-danger:hover {
  transform: scale(1.1);
}
