.product-nav-bar {
  background-color: #eee;
}
section nav ul {
  list-style: none;
}
section nav li {
  display: flex;
  padding: 0 10px;
}
section nav li a {
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
  margin: 3px 3px;
  margin: 1px;
  color: black;
}
.product-items {
  margin-top: 3px;
  margin-bottom: 3px;
  transition: transform 0.2s; /* Animation */
}
.product-items:hover {
  background-color: #eee;
  transform: scale(1.1);
}
section nav li a:hover {
  color: rgb(45, 49, 84);
}
