.product-page {
  min-height: 90vh;
  height: 100%;
}

.neon-effect {
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}
.neon-effect:hover {
  box-shadow: 2px 2px 10px rgb(96, 0, 0);
}

.card-title {
  overflow: hidden;
  height: 50px;
}
.card-image {
  overflow: hidden;
  height: 22rem;
}

.card-row {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
