.sellbook-container {
  min-height: 100vh;
  background-color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container {
  width: 60%;
  background-color: #eee;
  height: auto;
  border-radius: 15px;
  padding: 10px;
}

.form-group {
  display: flex;
}

.register-book-heading {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px solid #eee;
  border-radius: 5px;
}

.submit-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.submit-section button {
  font-weight: bold;
  transition: transform 0.2s;
}

.submit-section button:hover {
  transform: scale(1.1);
}
